table {
    border: 0.5px solid;
    padding: 0px;
    border-spacing: 0px;
}

th, td {
    border: 1px solid;   
    border-color: black;
    padding: 5px;
    text-align: center;
}

.bigButton {
    width:300px;
    height: 30px;
}

#logoutButton {
    float: right;
}

#reward_sats {
    width:50px;
    text-align: right;
}

#reward_qrcode {
    width:150px;
}

.centerParent {
    text-align: center;
}

.centerChild {
    margin-left: auto;
    margin-right: auto;
}